#cta-slider {
    position: fixed;
    top: 62.5%;
    background-color: #5a2b81;
    color: white;
    right: 0;
    z-index: 3;
    font-family: Arial, Helvetica, sans-serif;
    transform: translateX(100%);
    border-bottom-left-radius: 10px;
    font-size: 16px;

    width: 300px;
    max-width: 300px;
    height: 250px;
}
  
.cta-opener {
    position: absolute;
    background-color: #7b559a;
    cursor: pointer;
    padding: 15px 15px 6px 15px;
    cursor: pointer;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    z-index: 3;
    font-size: 16px;

    transform: rotate(-90deg) translate(-40.5%, -134px);
    padding: 15px 15px 6px 15px;
}

#cta-slider .cta-body h3 {
    margin: 0rem 0 1.0rem;
    color: white;
}

#cta-slider .cta-body .button {
    position: relative;
    top:50%; 
    left:15%;
    background: #7b559a;
    color: #dddddd;
    font-size: 16px;

    width: 150px;
}

#cta-slider .cta-body {
    padding: 20px 15px 10px 20px;
}

#cta-slider .cta-body .button:hover {
    background: #ac95c0;
}

/* Medium Up // up to 768px */
@media only screen and (min-width: 30.063em) {
}

/* Large Up // up to 1025px */
@media only screen and (min-width: 48.063em) {
}

/* XLarge Up // up to 1441px */
@media only screen and (min-width: 64.063em) {
}